@charset "UTF-8";

tr.contentbox {
	height: 700px;

}

td.content {
	font-family: malgun;
	font-size: 20px;
	font-weight: bold;
	color: #303030;
	text-align: center;
}

span.content_text01 {
	font-family: malgun;
	font-size: 20px;
	font-weight: bold;
	color: black;	
}

input.input_type01 {
	background-color: #ffffff;
	border: 1px solid #A8A7A7;
	width: 250px;
	font-family: Arial;
	font-size: 20px;
	color: #2a2a2a;
	padding: 5px;
}

input.button_type01 {
	background-color: black;
	border: 2px solid #ffffff;
	width: 180px;
	height: 40px;
	font-family: malgun;
	font-size: 20px;
	color: #ffffff;
	font-weight: bold;
	padding: 5px;
}

input.button_type01:hover {
	background-color: #A8A7A7;
	border: 2px solid #A8A7A7;
	width: 180px;
	height: 40px;
	font-family: malgun;
	font-size: 20px;
	color: #ffffff;
	font-weight: bold;
	padding: 5px;
	cursor: pointer;
}



textarea.textarea_type01 {
	background-color: #A8A7A7;
	border: 1px solid #A8A7A7;
	width: 250px;
	font-family: Arial;
	font-size: 20px;
	color: #2a2a2a;
	padding: 5px;
}


